---
name: Build
on: [pull_request]

permissions: { }

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-22.04]
        compiler: [gcc, clang]
        nginx:
          # Mainline
          - 1.29.5
          # Stable.
          - 1.28.2
          # Oldest supported version.
          - 1.14.2
        dynamic: [0, 1]
        exclude:
          - compiler: gcc
            os: macos-latest
    runs-on: ${{ matrix.os }}
    env:
      CFLAGS: "-Wno-error"
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install Packages
        run: |
          case $RUNNER_OS in
            Linux )
              sudo apt update
              sudo apt install -y libpcre3-dev libssl-dev
              ;;
            * )
              ;;
          esac
          t/get-pup || echo 'Tests needing pup will be skipped'
      - name: Test
        env:
          CC: ${{ matrix.compiler }}
        run: t/build-and-run ${{ matrix.nginx }} ${{ matrix.dynamic }}
